# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Ambientes virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datos (no subir archivos pesados)
data/*.csv
data/*.xlsx
data/*.xls
data/*.shp
data/*.shx
data/*.dbf
data/*.prj
data/*.cpg
data/*.geojson

# Outputs generados
outputs/**/*.shp
outputs/**/*.geojson

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
